# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/public/dist
/tmp
/out-tsc

# Dependencies
/node_modules
/jspm_packages

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*

# Misc
/logs
*.log
npm-debug.log*
.npm
.grunt
.nyc_output
.lock-wscript
.node_repl_history

# SSL certificates and keys
*.crt
*.key
*.pem

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
