/* Styles for the game canvas */
#game-canvas {
    margin: 0;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

/* Styles for the infobar */
#infobar {
    margin: 0 auto;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    width: 404px;
    height: auto;
    overflow: hidden;
}

/* Styles for the time remaining text */
#time-text {
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
}

/* Styles for the current score text */
#score-text {
    margin: 0;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: right;
}

/* Styles for hiding an element and making it invisible */
.element-hidden {
    visibility: hidden;
    display: none;
}
