/* Styles for the game canvas */
#game-canvas {
    margin: 0;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
/* Styles for the infobar */
#infobar {
    margin: 0 auto;
    border: 2px solid black;
    background-color: #404040; /* Shade of Grey */
    width: 391px;
    height: auto;
    overflow: hidden;
}
/* Styles for the time remaining text */
#time-text {
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    float: left;
}
/* Styles for the current score text */
#score-text {
    margin: 0;
    padding-right: 10px;
    padding-top: 10px;
    float: right;
}
/* Styles for the pause / resume button */
#pause-resume-button img {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
