/* Common styles for canvas and infobar prevent highlighting and selecting */
#game-canvas,
#infobar {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
/* Styles for pointer cursor (hand) */
.pointer-cursor {
    cursor : pointer;
}
/* Styles for the game canvas */
#game-canvas {
    margin: 0 auto;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
/* Styles for the infobar */
#infobar {
    margin: 0 auto;
    border: 2px solid black;
    background-color: #404040; /* Shade of Grey */
    width: 391px;
    height: auto;
    overflow: hidden;
}
/* Common styles for time remaining and current score texts */
#time-text,
#score-text {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 21px;
}
/* Specific styles for the time remaining text */
#time-text {
    padding-left: 15px;
    float: left;
}
/* Specific styles for the current score text */
#score-text {
    padding-right: 15px;
    float: right;
}
/* Styles for the pause / resume button */
#pause-resume-button img {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
}
